.board
{
  display             : flex;
  flex-direction      : row;
}

.board_grid
{
  display             : grid;
}

.cluster
{
  width               : 300px;
  grid-row            : 1; 
  display             : grid;
  margin              : 10px; 
  border-width        : 2px;
  border-color        : grey;
  border-style        : solid;
}

.tile
{
  background-position : center;
  background-repeat   : no-repeat;
  background-size     : contain;
  width               : 50px;
  height              : 250px;
  z-index             : 0;
  grid-row            : 1;
}

.slot
{
  background-position : center;
  background-repeat   : no-repeat;
  background-size     : contain;
  grid-column         : 1;
  width               : 50px;
  height              : 50px;
  z-index             : 1;
  font-weight         : 400;
  color               : #FFFFFF;
  font-size           : 1rem;
  text-align          : center;
  line-height         : 25px;
}

.dice_cluster
{
  width               : 108px;
  height              : 54px;
  border-width        : 1px;
  border-color        : grey;
  border-style        : solid;
  display             : flex;
  flex-direction      : row;
}

.dice
{
  width               : 50px;
  height              : 50px;
  border-width        : 2px;
  border-color        : black;
  margin              : 2px;
  background-color    : darkgrey;
  font-weight         : 700;
  color               : #FFFFFF;
  font-size           : 2rem;
  text-align          : center;
  line-height         : 50px;
}

.classic-btn
{
    font-weight:        500;
    background-color:   #552fff;
    color:              #FFFFFF;
    font-size:          1.5rem;
    line-height:        2rem;
    border-radius:      8px;
    padding-top:        0.5rem;
    padding-bottom:     0.5rem;
    padding-left:       1rem;
    padding-right:      1rem;
    text-align:         center;
    display:            block;
}

.jail
{
  width               : 60px;
  height              : 300px;
  border-width        : 2px;
  border-color        : brown;
  border-style        : solid;
}

.aim
{
  width               : 60px;
  height              : 300px;
  border-width        : 2px;
  border-color        : green;
  border-style        : solid;
}