{% extends 'base.html' %}
{% load mathfilters %}
{% load select %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'board.css' %}"/>

<h1>Bientôt ici gira un backgammon !</h1>

<section">
  <form method="POST">
    {% csrf_token %}
    <div class="board">
      <div class="aim">
        Arrivée
      </div>
      <div class="jail">
        Prison
      </div>
      <div class="board_grid" style="grid-template-columns: repeat({{ clusters }}, 1fr);">
        {% for i in clusters_range %}
          <div class="cluster" style="grid-column: {{ i }}; grid-template-columns: repeat({{ tiles_by_cluster }}, 1fr);">
            {% for j in tiles_by_cluster_range %}
              {% if forloop.counter0|divisibleby:2 %}
                <div class="tile" style="grid-column: {{ j }}; background-image: url('{% static 'media/brown_triangle.png' %}'); grid-template-rows: repeat({{ slots_by_tile }}, 1fr)">
                  {% for k in slots_by_tile_range %}
                    {% if forloop.counter == slots_by_tile %}
                      {% for m in black_pawn_list %}
                        {% if m|select:0 == forloop.parentloop.parentloop.parentloop.counter0|mul:tiles_by_cluster|add:forloop.parentloop.parentloop.counter0|add:1 %}
                          <button class="slot" type="submit" name="slot_{{ m }}" style="grid-row: {{ k }}; background-image: url('{% static 'media/black_circle.png' %}');">{{ black_pawn_list|select:forloop.counter0|select:1 }}</button>
                        {% endif %}
                      {% endfor %}
                      {% for m in grey_pawn_list %}
                        {% if m|select:0 == forloop.parentloop.parentloop.parentloop.counter0|mul:tiles_by_cluster|add:forloop.parentloop.parentloop.counter0|add:1 %}
                          <button class="slot" type="submit" name="slot_{{ m }}" style="grid-row: {{ k }}; background-image: url('{% static 'media/grey_circle.png' %}');">{{ grey_pawn_list|select:forloop.counter0|select:1 }}</button>
                        {% endif %}
                      {% endfor %}
                      {% if not forloop.parentloop.parentloop.counter0|mul:tiles_by_cluster|add:forloop.parentloop.counter0 in not_empty_list %}
                        <div class="slot" style="grid-row: {{ k }};"></div>
                      {% endif %}
                    {% else %}
                      <div class="slot" style="grid-row: {{ k }};"></div>
                    {% endif %}
                  {% endfor %}
                </div>
              {% else %}
                <div class="tile" style="grid-column: {{ j }}; background-image: url('{% static 'media/yellow_triangle.png' %}');">
                  {% for k in slots_by_tile_range %}
                    {% if forloop.counter == slots_by_tile %}
                      {% for m in black_pawn_list %}
                        {% if m|select:0 == forloop.parentloop.parentloop.parentloop.counter0|mul:tiles_by_cluster|add:forloop.parentloop.parentloop.counter0|add:1 %}
                          <button class="slot" type="submit" name="slot_{{ m }}" style="grid-row: {{ k }}; background-image: url('{% static 'media/black_circle.png' %}');">{{ black_pawn_list|select:forloop.counter0|select:1 }}</button>
                        {% endif %}
                      {% endfor %}
                      {% for m in grey_pawn_list %}
                        {% if m|select:0 == forloop.parentloop.parentloop.parentloop.counter0|mul:tiles_by_cluster|add:forloop.parentloop.parentloop.counter0|add:1 %}
                          <button class="slot" type="submit" name="slot_{{ m }}" style="grid-row: {{ k }}; background-image: url('{% static 'media/grey_circle.png' %}');">{{ grey_pawn_list|select:forloop.counter0|select:1 }}</button>
                        {% endif %}
                      {% endfor %}
                      {% if not forloop.parentloop.parentloop.counter0|mul:tiles_by_cluster|add:forloop.parentloop.counter0 in not_empty_list %}
                        <div class="slot" style="grid-row: {{ k }};"></div>
                      {% endif %}
                    {% else %}
                      <div class="slot" style="grid-row: {{ k }};"></div>
                    {% endif %}
                  {% endfor %}
                </div>
              {% endif %}
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
  </form>

  <form method="POST">
    {% csrf_token %}
    <div class="dice_cluster">
        <button class="dice" type="submit" name="dice_0">{{ dice_list.0.0 }}</button>
        <button class="dice" type="submit" name="dice_1">{{ dice_list.1.0 }}</button>
    </div>
  </form>

  <form method="POST">
    {% csrf_token %}
    <button class="button" type="submit" name="roll">Roll the dice</button>
  </form>

  <form method="POST">
    {% csrf_token %}
    <button class="button" type="submit" name="one_player">Start 1 player</button>
  </form>

  <div>{{state}}</div>
  <div>{{pseudo}}</div>

</section>

{% endblock %}